<script type="text/template" id="template_index_category">
    <div class="tags mod-2">
        <div class="hd log url need-active">
            <h2>
                音乐分类
            </h2>
            <div><a href="#musichot">更多</a></div>
        </div>
        <ul>
            <% _.each(category, function(item, index){ %>
            <%
                var color = '';
                switch(index % 3){
                    case 0:
                        color = 'red';
                        break;
                    case 1:
                        color = 'blue';
                        break;
                    case 2:
                        color = 'black';
                        break;
                    default:
                        break;
                }
            %>
            <li class="<%= color %> log url">
                <a href="#categorydetail/<%= encodeURIComponent(item.label) %>"><%= item.label %>
            </li>
            <% }); %>
        </ul>
    </div>	
</script>