<script type="text/template" id="template_index_musichot">
    <div class="songs mod-2">
        <div>
            <div class="hd log url  need-active">
                <h2>热歌榜</h2>
                <div><a href="#musichot">更多</a></div>
            </div>
            <ul class="list">
                <% _.each(musichot, function(item, index){ %>
                <% if(!item.song_id){return;} %>
                <li class="song url log" songid="<%= item.song_id %>">
                    <div class="left">
                        <% if(parseInt(item.rank_change,10)==0){ %>
                        <div class="rank equal"><%= item.rank %></div>
                        <% }else if(parseInt(item.rank_change,10)>0){ %>
                        <div class="rank up"><%= item.rank %></div>
                        <% }else if(parseInt(item.rank_change,10)<0){ %>
                        <div class="rank down"><%= item.rank %></div>
                        <% } %>
                        <div class="info">
                            <b><a href="#play/<%= item.song_id %>"><%= item.title %></a></b>
                            <span class="txt"><%= item.author %></span>
                        </div>
                    </div>
                    <div class="download need-active">下载</div>
                </li>
                <% }); %>
            </ul>
        </div>
    </div>
</script>