<script type="text/template" id="template_index_singerhot">
    <div class="artists mod-2">
        <ul class="mb10">
            <% _.each(singerhot,function(singer,index){ %>
                <% if(index >=6 ){return;} %>
                <li class="log url">
                    <img alt="<%= singer.name %>" src="<%= singer.avatar_middle %>">
                    <span class="title"><%= singer.name %></span>
                </li>
            <% }); %>
            <li class="hdli">
                <div class="hd log url need-active">
                    <h2>热门歌手</h2>
                    <div><a href="#singerhot">更多</a></div>
                </div>
            </li>
            <% _.each(singerhot,function(singer,index){ %>
                <% if(index < 6 ){return;} %>
                <li class="log url">
                    <img alt="<%= singer.name %>" src="<%= singer.avatar_middle %>">
                    <span class="title"><%= singer.name %></span>
                </li>
            <% }); %>
        </ul>
    </div>		
</script>